.navbar-nav{
   width: 30%; 
}

.profile-container{
    overflow-y: auto;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    
.items{
    width: 70%;
    margin-left: 5%;
}