.titleee {
    color: blue;
    position: sticky;
}

.faculty_d_container {
    width: 100vw;
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    /* box-shadow: 0px 15px 20px rgba(16, 9, 9, 0.57); */
}

.left-list:hover {
    background-color: blue;
}

.options{
    display: flex;
    flex-direction: row;
}

.content{
    width: 70%;
}
